In [1]:
import pandas as pd

In [1]:
import movie_database_methods as imd

In [2]:
bom_movie_gross = 1
bom_movie_gross = imd.bom_movie_gross()
bom_movie_gross.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 7 columns):
title              3387 non-null object
studio             3382 non-null object
domestic_gross     3359 non-null float64
foreign_gross      2037 non-null float64
year               3387 non-null int64
worldwide_gross    2009 non-null float64
movie              3387 non-null object
dtypes: float64(3), int64(1), object(3)
memory usage: 185.3+ KB

In [4]:
tn_movie_budgets = 1
tn_movie_budgets = imd.tn_movie_budgets()
tn_movie_budgets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5698 entries, 0 to 4068
Data columns (total 6 columns):
id                   5698 non-null int64
release_date         5698 non-null object
movie                5698 non-null object
production_budget    5698 non-null float64
domestic_gross       5698 non-null float64
worldwide_gross      5698 non-null float64
dtypes: float64(3), int64(1), object(2)
memory usage: 311.6+ KB

In [7]:
tn_movie_budgets_1 = 1
tn_movie_budgets_1 = imd.tn_movie_budgets()
tn_movie_budgets_1

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,425000000.0,760507625.0,2.776345e+09
42,43,"Dec 19, 1997",Titanic,200000000.0,659363944.0,2.208208e+09
5,6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,306000000.0,936662225.0,2.053311e+09
6,7,"Apr 27, 2018",Avengers: Infinity War,300000000.0,678815482.0,2.048134e+09
33,34,"Jun 12, 2015",Jurassic World,215000000.0,652270625.0,1.648855e+09
66,67,"Apr 3, 2015",Furious 7,190000000.0,353007020.0,1.518723e+09
26,27,"May 4, 2012",The Avengers,225000000.0,623279547.0,1.517936e+09
3,4,"May 1, 2015",Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09
41,42,"Feb 16, 2018",Black Panther,200000000.0,700059566.0,1.348258e+09
260,61,"Jul 15, 2011",Harry Potter and the Deathly Hallows: Part II,125000000.0,381193157.0,1.341693e+09
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09
112,13,"Jun 22, 2018",Jurassic World: Fallen Kingdom,170000000.0,417719760.0,1.305773e+09
155,56,"Nov 22, 2013",Frozen,150000000.0,400738009.0,1.272470e+09
134,35,"Mar 17, 2017",Beauty and the Beast,160000000.0,504014165.0,1.259200e+09
43,44,"Jun 15, 2018",Incredibles 2,200000000.0,608581744.0,1.242521e+09
22,23,"Apr 14, 2017",The Fate of the Furious,250000000.0,225764765.0,1.234846e+09
47,48,"May 3, 2013",Iron Man 3,200000000.0,408992272.0,1.215392e+09
672,73,"Jul 10, 2015",Minions,74000000.0,336045770.0,1.160336e+09
135,36,"Dec 21, 2018",Aquaman,160000000.0,335061807.0,1.146895e+09
425,26,"Dec 17, 2003",The Lord of the Rings: The Return of the King,94000000.0,377845905.0,1.141403e+09
16,17,"May 6, 2016",Captain America: Civil War,250000000.0,408084349.0,1.140069e+09
63,64,"Jun 29, 2011",Transformers: Dark of the Moon,195000000.0,352390543.0,1.123791e+09
95,96,"Mar 8, 2019",Captain Marvel,175000000.0,426525952.0,1.123062e+09
51,52,"Nov 8, 2012",Skyfall,200000000.0,304360277.0,1.110527e+09
36,37,"Jun 27, 2014",Transformers: Age of Extinction,210000000.0,245439076.0,1.104039e+09
10,11,"Jul 20, 2012",The Dark Knight Rises,275000000.0,448139099.0,1.084439e+09
46,47,"Jun 18, 2010",Toy Story 3,200000000.0,415004880.0,1.068880e+09
27,28,"Jul 7, 2006",Pirates of the Caribbean: Dead Manâs Chest,225000000.0,423315812.0,1.066216e+09
44,45,"Dec 16, 2016",Rogue One: A Star Wars Story,200000000.0,532177324.0,1.049103e+09
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09
...,...,...,...,...,...,...
5648,49,"Aug 23, 2013",Sparrows Dance,175000.0,2602.0,2.602000e+03
4973,74,"Oct 26, 2012",The Ghastly Love of Johnny X,2000000.0,2436.0,2.436000e+03
3820,21,"Jan 20, 2015",Veronika Decides to Die,9000000.0,0.0,2.243000e+03
5105,6,"Sep 28, 2015","Me, You and Five Bucks",1500000.0,2105.0,2.105000e+03
5768,69,"May 28, 2004",On the Downlow,10000.0,1987.0,1.987000e+03
5464,65,"Sep 10, 2014",Born to Fly: Elizabeth Streb vs. Gravity,500000.0,1822.0,1.822000e+03
5465,66,"Jun 28, 2013",Detention of the Dead,500000.0,1778.0,1.778000e+03
5557,58,"Oct 23, 2015",The Looking Glass,300000.0,1711.0,1.711000e+03
5124,25,"Apr 5, 2013",Eddie: The Sleepwalking Cannibal,1400000.0,1632.0,1.632000e+03
5400,1,"Dec 14, 2018",That Way Madness Lies,650000.0,1447.0,1.447000e+03
5690,91,"Nov 9, 2001",Keeping it Real: The Adventures of Greg Walloch,100000.0,1358.0,1.358000e+03
5779,80,"Jul 13, 2005",Return to the Land of Wonders,5000.0,1338.0,1.338000e+03
5763,64,"Apr 28, 2006",Grip: A Criminal's Story,12000.0,1336.0,1.336000e+03
3818,19,"May 8, 2015",Skin Trade,9000000.0,1242.0,1.242000e+03
5633,34,"Jun 15, 2007",The Trials of Darryl Hunt,200000.0,1217.0,1.217000e+03
5394,95,"Jan 26, 2010",B-Girl,700000.0,0.0,1.160000e+03
5296,97,"May 15, 2015",Childless,1000000.0,1036.0,1.036000e+03
4979,80,"Dec 31, 2015","To Be Frank, Sinatra at 100",2000000.0,0.0,9.260000e+02
5776,77,"Dec 31, 2004",The Mongol King,7000.0,900.0,9.000000e+02
5297,98,"Apr 21, 2006",In Her Line of Fire,1000000.0,884.0,8.840000e+02
4081,82,"May 21, 2010",Perrierâs Bounty,6600000.0,828.0,8.280000e+02
5298,99,"Dec 13, 2002",The Jimmy Show,1000000.0,703.0,7.030000e+02
5027,28,"Jan 1, 1993",Ed and his Dead Mother,1800000.0,673.0,6.730000e+02
5466,67,"May 11, 2018",Higher Power,500000.0,528.0,5.280000e+02
5769,70,"Apr 1, 1996",Bang,10000.0,527.0,5.270000e+02
5383,84,"Dec 31, 2014",Destiny,750000.0,0.0,4.500000e+02
5518,19,"Oct 13, 2005",The Dark Hours,400000.0,423.0,4.230000e+02
5770,71,"Aug 14, 2008",The Rise and Fall of Miss Thang,10000.0,401.0,4.010000e+02
5335,36,"Nov 21, 2014",Food Chains,913000.0,0.0,1.760000e+02
5302,3,"Dec 11, 2015",American Hero,1000000.0,0.0,2.600000e+01