In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import movie_database_methods as imd

In [5]:
bom_movie_gross = imd.bom_movie_gross().copy()
bom_movie_gross.head(1)

,title,studio,domestic_gross,foreign_gross,year,worldwide_gross,movie
0,Toy Story 3,BV,415000000.0,652000000.0,2010,1.067000e+09,Toy Story 3

In [6]:
tn_movie_budgets = imd.tn_movie_budgets().copy()
tn_movie_budgets.head(1)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,425000000.0,760507625.0,2.776345e+09

In [14]:
bom_movie_gross_amended.head().T

,0,1,2,3,4
title,Toy Story 3,Alice in Wonderland (2010),Harry Potter and the Deathly Hallows Part 1,Inception,Shrek Forever After
studio,BV,BV,WB,WB,P/DW
domestic_gross,4.15e+08,3.342e+08,2.96e+08,2.926e+08,2.387e+08
foreign_gross,652000000,691300000,664300000,535700000,513900000
year,2010,2010,2010,2010,2010

In [12]:
# tn_movie_budgets.movie
bom_movie_gross_amended = bom_movie_gross.copy()

In [18]:
bom_movie_gross_amended.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
title             3387 non-null object
studio            3382 non-null object
domestic_gross    3359 non-null float64
foreign_gross     2037 non-null object
year              3387 non-null int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [20]:
bom_movie_gross_amended.foreign_gross = bom_movie_gross_amended.foreign_gross.replace(
        '[\$,]',
        '',
        regex=True
    ).astype(float)

In [21]:
bom_movie_gross_amended.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
title             3387 non-null object
studio            3382 non-null object
domestic_gross    3359 non-null float64
foreign_gross     2037 non-null float64
year              3387 non-null int64
dtypes: float64(2), int64(1), object(2)
memory usage: 132.4+ KB

In [27]:
bom_movie_gross_amended[
    bom_movie_gross_amended.foreign_gross > 
    bom_movie_gross_amended.domestic_gross
].info()
# bom_movie_gross_amended domestic_gross is not subset

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1294 entries, 0 to 3309
Data columns (total 5 columns):
title             1294 non-null object
studio            1292 non-null object
domestic_gross    1294 non-null float64
foreign_gross     1294 non-null float64
year              1294 non-null int64
dtypes: float64(2), int64(1), object(2)
memory usage: 60.7+ KB

In [43]:
bom_movie_gross_amended['worldwide_gross'] = bom_movie_gross_amended.foreign_gross + bom_movie_gross_amended.domestic_gross
# bom_movie_gross_amended
bom_movie_gross_amended['movie'] = bom_movie_gross_amended.title
bom_movie_gross_amended.head()

,title,studio,domestic_gross,foreign_gross,year,worldwide_gross,movie
0,Toy Story 3,BV,415000000.0,652000000.0,2010,1.067000e+09,Toy Story 3
1,Alice in Wonderland (2010),BV,334200000.0,691300000.0,2010,1.025500e+09,Alice in Wonderland (2010)
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000.0,2010,9.603000e+08,Harry Potter and the Deathly Hallows Part 1
3,Inception,WB,292600000.0,535700000.0,2010,8.283000e+08,Inception
4,Shrek Forever After,P/DW,238700000.0,513900000.0,2010,7.526000e+08,Shrek Forever After

In [5]:
#read in the files
# bom_movie_gross = pd.read_csv('data/bom.movie_gross.csv')
# tn_movie_budgets = pd.read_csv('data/tn.movie_budgets.csv')

In [44]:
bom_movie_gross_amended.info() #doesn't have genre

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 7 columns):
title              3387 non-null object
studio             3382 non-null object
domestic_gross     3359 non-null float64
foreign_gross      2037 non-null float64
year               3387 non-null int64
worldwide_gross    2009 non-null float64
movie              3387 non-null object
dtypes: float64(3), int64(1), object(3)
memory usage: 185.3+ KB

In [7]:
tn_movie_budgets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5339 entries, 0 to 5302
Data columns (total 6 columns):
id                   5339 non-null int64
release_date         5339 non-null object
movie                5339 non-null object
production_budget    5339 non-null float64
domestic_gross       5339 non-null float64
worldwide_gross      5339 non-null float64
dtypes: float64(3), int64(1), object(2)
memory usage: 292.0+ KB

In [8]:
imdb_title_basics = pd.read_csv('data/imdb.title.basics.csv')

In [9]:
imdb_title_basics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [12]:
# tn_movie_budgets.join
# tn_movie_budgets

In [13]:
movies_combined = pd.concat([tn_movie_budgets,bom_movie_gross_amended],sort=True)
movies_combined.info()

NameError: name 'bom_movie_gross_amended' is not defined

In [52]:
movies_combined.movie.value_counts().value_counts()

1    6535
2    1299
3      12
Name: movie, dtype: int64

In [14]:
tn_movie_budgets.domestic_gross.sum()

239300418376.0

In [2]:
tn_movie_budgets = imd.tn_movie_budgets()

In [3]:
tn_movie_budgets.movie.value_counts().value_counts()

1    5339
Name: movie, dtype: int64

In [4]:
# tn_movie_budgets.set_index('movie', inplace=True)

In [17]:
imdb_title_basics.head().T

,0,1,2,3,4
tconst,tt0063540,tt0066787,tt0069049,tt0069204,tt0100275
primary_title,Sunghursh,One Day Before the Rainy Season,The Other Side of the Wind,Sabse Bada Sukh,The Wandering Soap Opera
original_title,Sunghursh,Ashad Ka Ek Din,The Other Side of the Wind,Sabse Bada Sukh,La Telenovela Errante
start_year,2013,2019,2018,2018,2017
runtime_minutes,175,114,122,NaN,80
genres,"Action,Crime,Drama","Biography,Drama",Drama,"Comedy,Drama","Comedy,Drama,Fantasy"

## Joing tn_movie with IMDB
Purpose - cover xx% of tn_movie revenue

In [2]:
imdb_title_basics = pd.read_csv('data/imdb.title.basics.csv')

In [3]:
imdb_title_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
tconst             146144 non-null object
primary_title      146144 non-null object
original_title     146123 non-null object
start_year         146144 non-null int64
runtime_minutes    114405 non-null float64
genres             140736 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [28]:
tn_movie_budgets.set_index('movie', inplace=True)
tn_movie_budgets.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5339 entries, Avatar to American Hero
Data columns (total 5 columns):
id                   5339 non-null int64
release_date         5339 non-null object
production_budget    5339 non-null float64
domestic_gross       5339 non-null float64
worldwide_gross      5339 non-null float64
dtypes: float64(3), int64(1), object(1)
memory usage: 250.3+ KB

In [38]:
imdb_title_basics.join(
    tn_movie_budgets,
    on = 'primary_title',
    how = 'inner').count()

tconst               3282
primary_title        3282
original_title       3281
start_year           3282
runtime_minutes      2871
genres               3219
id                   3282
release_date         3282
production_budget    3282
domestic_gross       3282
worldwide_gross      3282
dtype: int64

## Testing the py file

In [4]:
imdb_title_basics = pd.read_csv('data/imdb.title.basics.csv')

In [5]:
tn_2 = imd.tn_movie_budgets()
tn_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5339 entries, 0 to 5302
Data columns (total 6 columns):
id                   5339 non-null int64
release_date         5339 non-null object
movie                5339 non-null object
production_budget    5339 non-null float64
domestic_gross       5339 non-null float64
worldwide_gross      5339 non-null float64
dtypes: float64(3), int64(1), object(2)
memory usage: 292.0+ KB

In [6]:
tn_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5339 entries, 0 to 5302
Data columns (total 6 columns):
id                   5339 non-null int64
release_date         5339 non-null object
movie                5339 non-null object
production_budget    5339 non-null float64
domestic_gross       5339 non-null float64
worldwide_gross      5339 non-null float64
dtypes: float64(3), int64(1), object(2)
memory usage: 292.0+ KB

In [8]:
comb_test = imd.movies_combined(tn_2,imdb_title_basics)
comb_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3282 entries, 20 to 145599
Data columns (total 11 columns):
tconst               3282 non-null object
primary_title        3282 non-null object
original_title       3281 non-null object
start_year           3282 non-null int64
runtime_minutes      2871 non-null float64
genres               3219 non-null object
id                   3282 non-null int64
release_date         3282 non-null object
production_budget    3282 non-null float64
domestic_gross       3282 non-null float64
worldwide_gross      3282 non-null float64
dtypes: float64(4), int64(2), object(5)
memory usage: 307.7+ KB

In [9]:
comb_test.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,id,release_date,production_budget,domestic_gross,worldwide_gross
20,tt0249516,Foodfight!,Foodfight!,2012,91.0,"Action,Animation,Comedy",26,"Dec 31, 2012",45000000.0,0.0,73706.0
33,tt0293429,Mortal Kombat,Mortal Kombat,2021,NaN,"Action,Adventure,Fantasy",10,"Aug 18, 1995",20000000.0,70433227.0,122133227.0
40,tt0326592,The Overnight,The Overnight,2010,88.0,NaN,21,"Jun 19, 2015",200000.0,1109808.0,1165996.0
67603,tt3844362,The Overnight,The Overnight,2015,79.0,"Comedy,Mystery",21,"Jun 19, 2015",200000.0,1109808.0,1165996.0
48,tt0337692,On the Road,On the Road,2012,124.0,"Adventure,Drama,Romance",17,"Mar 22, 2013",25000000.0,720828.0,9313302.0

In [12]:
comb_test[comb_test.worldwide_gross.isnull()==True]

Empty DataFrame
Columns: [tconst, primary_title, original_title, start_year, runtime_minutes, genres, id, release_date, production_budget, domestic_gross, worldwide_gross]
Index: []

In [34]:
cutoff = 10000
#create new df with only movies above the revenue cut-off
tn_movie_cutoff = tn_movie_budgets[tn_movie_budgets['worldwide_gross'] > cutoff]


#Cutoff captures xx% of total movie revenue
share_cutoff = tn_movie_cutoff['worldwide_gross'].sum() / tn_movie_budgets['worldwide_gross'].sum()
print( 'cutoff of ', cutoff, " USD captures ", round(share_cutoff,2)*100, "% of total revenue")

#Create joined df, of IMDB movies and those withrevenue above cutoff
temp_merge = imdb_title_basics.join(tn_movie_cutoff,on='primary_title', how='inner')

#print revenue captured in join by movies above cutoff
print(round(temp_merge.domestic_gross.sum() / tn_movie_cutoff.domestic_gross.sum(),2))
print(round(temp_merge.worldwide_gross.sum() / tn_movie_cutoff.worldwide_gross.sum(),2))

temp_merge.info()

cutoff of  10000  USD captures  100.0 % of total revenue
0.62
0.66
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3227 entries, 20 to 145599
Data columns (total 11 columns):
tconst               3227 non-null object
primary_title        3227 non-null object
original_title       3226 non-null object
start_year           3227 non-null int64
runtime_minutes      2823 non-null float64
genres               3165 non-null object
id                   3227 non-null int64
release_date         3227 non-null object
production_budget    3227 non-null float64
domestic_gross       3227 non-null float64
worldwide_gross      3227 non-null float64
dtypes: float64(4), int64(2), object(5)
memory usage: 302.5+ KB

In [18]:
temp_merge = imdb_title_basics.join(tn_movie_cutoff,on='primary_title', how='inner')

print(round(temp_merge.domestic_gross.sum() / tn_movie_cutoff.domestic_gross.sum(),2))
print(round(temp_merge.worldwide_gross.sum() / tn_movie_cutoff.worldwide_gross.sum(),2))

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [71]:
imdb_title_basics.join(tn_movie_budgets,on='original_title', how='inner').info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3537 entries, 20 to 145986
Data columns (total 11 columns):
tconst               3537 non-null object
primary_title        3537 non-null object
original_title       3537 non-null object
start_year           3537 non-null int64
runtime_minutes      3070 non-null float64
genres               3473 non-null object
id                   3537 non-null int64
release_date         3537 non-null object
production_budget    3537 non-null float64
domestic_gross       3537 non-null float64
worldwide_gross      3537 non-null float64
dtypes: float64(4), int64(2), object(5)
memory usage: 331.6+ KB