In [1]:
import pandas as pd
import seaborn as sns
import import_movie_databases as imd

In [2]:
bom_movie_gross = imd.bom_movie_gross().copy()
bom_movie_gross.head(1)

         title studio  domestic_gross foreign_gross  year
0  Toy Story 3     BV     415000000.0     652000000  2010

In [3]:
tn_movie_budgets = imd.tn_movie_budgets().copy()
tn_movie_budgets.head(1)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,425000000.0,760507625.0,2.776345e+09

In [5]:
tn_movie_budgets.movie

str

In [5]:
#read in the files
# bom_movie_gross = pd.read_csv('data/bom.movie_gross.csv')
# tn_movie_budgets = pd.read_csv('data/tn.movie_budgets.csv')

In [4]:
bom_movie_gross.info() #doesn't have genre

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
title             3387 non-null object
studio            3382 non-null object
domestic_gross    3359 non-null float64
foreign_gross     2037 non-null object
year              3387 non-null int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [2]:
tn_movie_budgets.info()

NameError: name 'tn_movie_budgets' is not defined

In [60]:
##