In [ ]:
Google Drive File Stream/My Drive/Personal/Flatiron Data Science Bootcamp/Repostories/mod_1_project/data/bom.movie_gross.csv
Google Drive File Stream/My Drive/Personal/Flatiron Data Science Bootcamp/Repostories/mod_1_project/data/imdb.name.basics.csv
Google Drive File Stream/My Drive/Personal/Flatiron Data Science Bootcamp/Repostories/mod_1_project/data/imdb.title.akas.csv
Google Drive File Stream/My Drive/Personal/Flatiron Data Science Bootcamp/Repostories/mod_1_project/data/imdb.title.basics.csv
Google Drive File Stream/My Drive/Personal/Flatiron Data Science Bootcamp/Repostories/mod_1_project/data/imdb.title.crew.csv
Google Drive File Stream/My Drive/Personal/Flatiron Data Science Bootcamp/Repostories/mod_1_project/data/imdb.title.principals.csv
Google Drive File Stream/My Drive/Personal/Flatiron Data Science Bootcamp/Repostories/mod_1_project/data/imdb.title.ratings.csv
Google Drive File Stream/My Drive/Personal/Flatiron Data Science Bootcamp/Repostories/mod_1_project/data/rt.movie_info.tsv
Google Drive File Stream/My Drive/Personal/Flatiron Data Science Bootcamp/Repostories/mod_1_project/data/rt.reviews.tsv
Google Drive File Stream/My Drive/Personal/Flatiron Data Science Bootcamp/Repostories/mod_1_project/data/tmdb.movies.csv
Google Drive File Stream/My Drive/Personal/Flatiron Data Science Bootcamp/Repostories/mod_1_project/data/tn.movie_budgets.csv

In [16]:
file_names = [
    'Google Drive File Stream/My Drive/Personal/Flatiron Data Science Bootcamp/Repostories/mod_1_project/data/bom.movie_gross.csv',
    'Google Drive File Stream/My Drive/Personal/Flatiron Data Science Bootcamp/Repostories/mod_1_project/data/imdb.name.basics.csv',
    'Google Drive File Stream/My Drive/Personal/Flatiron Data Science Bootcamp/Repostories/mod_1_project/data/imdb.title.akas.csv',
    'Google Drive File Stream/My Drive/Personal/Flatiron Data Science Bootcamp/Repostories/mod_1_project/data/imdb.title.basics.csv',
    'Google Drive File Stream/My Drive/Personal/Flatiron Data Science Bootcamp/Repostories/mod_1_project/data/imdb.title.crew.csv',
    'Google Drive File Stream/My Drive/Personal/Flatiron Data Science Bootcamp/Repostories/mod_1_project/data/imdb.title.principals.csv',
    'Google Drive File Stream/My Drive/Personal/Flatiron Data Science Bootcamp/Repostories/mod_1_project/data/imdb.title.ratings.csv',
    'Google Drive File Stream/My Drive/Personal/Flatiron Data Science Bootcamp/Repostories/mod_1_project/data/rt.movie_info.tsv',
    'Google Drive File Stream/My Drive/Personal/Flatiron Data Science Bootcamp/Repostories/mod_1_project/data/rt.reviews.tsv',
    'Google Drive File Stream/My Drive/Personal/Flatiron Data Science Bootcamp/Repostories/mod_1_project/data/tmdb.movies.csv',
    'Google Drive File Stream/My Drive/Personal/Flatiron Data Science Bootcamp/Repostories/mod_1_project/data/tn.movie_budgets.csv',
]

In [17]:
import pandas as pd

In [19]:
file_names_cleaned = []
for each in file_names:
    file_names_cleaned.append(each[105:])
file_names_cleaned

['bom.movie_gross.csv',
 'imdb.name.basics.csv',
 'imdb.title.akas.csv',
 'imdb.title.basics.csv',
 'imdb.title.crew.csv',
 'imdb.title.principals.csv',
 'imdb.title.ratings.csv',
 'rt.movie_info.tsv',
 'rt.reviews.tsv',
 'tmdb.movies.csv',
 'tn.movie_budgets.csv']

In [20]:
print(file_names_cleaned)

['bom.movie_gross.csv', 'imdb.name.basics.csv', 'imdb.title.akas.csv', 'imdb.title.basics.csv', 'imdb.title.crew.csv', 'imdb.title.principals.csv', 'imdb.title.ratings.csv', 'rt.movie_info.tsv', 'rt.reviews.tsv', 'tmdb.movies.csv', 'tn.movie_budgets.csv']

In [24]:
bom_movie_gross = pd.read_csv('data/bom.movie_gross.csv')
tn_movie_budgets = pd.read_csv('data/tn.movie_budgets.csv')
imdb_name_basics = pd.read_csv('data/imdb.name.basics.csv')

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [44]:
bom_movie_gross.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
title             3387 non-null object
studio            3382 non-null object
domestic_gross    3359 non-null float64
foreign_gross     2037 non-null object
year              3387 non-null int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [45]:
tn_movie_budgets.domestic_gross.to_numeric()

AttributeError: 'Series' object has no attribute 'to_numeric'