In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [15]:
imdb_title_basics = pd.read_csv("./data/imdb.title.basics.csv")

In [16]:
imdb_title_basics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [17]:
imdb_title_basics.shape

(146144, 6)

In [22]:
len(imdb_title_basics.genres[imdb_title_basics.genres.isnull()])

5408

In [23]:
imdb_title_basics = imdb_title_basics.loc[imdb_title_basics['genres'].isnull() == False]

In [25]:
imdb_title_basics.shape

(140736, 6)

In [26]:
imdb_title_basics.genres = imdb_title_basics.genres.map(lambda x : str(x).split(","))

In [28]:
imdb_title_basics.genres.value_counts().head(5)

[Documentary]      32185
[Drama]            21486
[Comedy]            9177
[Horror]            4372
[Comedy, Drama]     3519
Name: genres, dtype: int64

In [33]:
unique_genres = []

for i in imdb_title_basics.genres:
    for j in i:
        if j in unique_genres:
            continue
        else:
            unique_genres.append(j)

In [34]:
unique_genres

['Action',
 'Crime',
 'Drama',
 'Biography',
 'Comedy',
 'Fantasy',
 'Horror',
 'Thriller',
 'Adventure',
 'Animation',
 'Documentary',
 'History',
 'Mystery',
 'Sci-Fi',
 'Romance',
 'Family',
 'War',
 'Music',
 'Sport',
 'Western',
 'Musical',
 'Adult',
 'News',
 'Talk-Show',
 'Reality-TV',
 'Game-Show',
 'Short']