# Revenue by Genre

In [1]:
import pandas as pd
import get_imdb as gi
import movie_database_methods as imd

In [2]:
imdb = gi.get_imdb()

In [3]:
imdb.head().T

,0,1,2,3,4
tconst,tt0063540,tt0066787,tt0069049,tt0069204,tt0100275
primary_title,Sunghursh,One Day Before the Rainy Season,The Other Side of the Wind,Sabse Bada Sukh,The Wandering Soap Opera
original_title,Sunghursh,Ashad Ka Ek Din,The Other Side of the Wind,Sabse Bada Sukh,La Telenovela Errante
start_year,2013,2019,2018,2018,2017
runtime_minutes,175,114,122,NaN,80
genres,"[Action, Crime, Drama]","[Biography, Drama]",[Drama],"[Comedy, Drama]","[Comedy, Drama, Fantasy]"
Action,1,0,0,0,0
Crime,1,0,0,0,0
Drama,1,1,1,1,1
Biography,0,1,0,0,0
Comedy,0,0,0,1,1
Fantasy,0,0,0,0,1
Horror,0,0,0,0,0
Thriller,0,0,0,0,0
Adventure,0,0,0,0,0
Animation,0,0,0,0,0
Documentary,0,0,0,0,0
History,0,0,0,0,0
Mystery,0,0,0,0,0
Sci-Fi,0,0,0,0,0
Romance,0,0,0,0,0
Family,0,0,0,0,0
War,0,0,0,0,0
Music,0,0,0,0,0
Sport,0,0,0,0,0
Western,0,0,0,0,0
Musical,0,0,0,0,0
Adult,0,0,0,0,0
News,0,0,0,0,0
Talk-Show,0,0,0,0,0
Reality-TV,0,0,0,0,0
Game-Show,0,0,0,0,0
Short,0,0,0,0,0

In [4]:
tn = imd.tn_movie_budgets()

In [5]:
combined = imd.movies_combined(tn,imdb)

In [6]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3219 entries, 20 to 145599
Data columns (total 38 columns):
tconst               3219 non-null object
primary_title        3219 non-null object
original_title       3219 non-null object
start_year           3219 non-null int64
runtime_minutes      2853 non-null float64
genres               3219 non-null object
Action               3219 non-null int64
Crime                3219 non-null int64
Drama                3219 non-null int64
Biography            3219 non-null int64
Comedy               3219 non-null int64
Fantasy              3219 non-null int64
Horror               3219 non-null int64
Thriller             3219 non-null int64
Adventure            3219 non-null int64
Animation            3219 non-null int64
Documentary          3219 non-null int64
History              3219 non-null int64
Mystery              3219 non-null int64
Sci-Fi               3219 non-null int64
Romance              3219 non-null int64
Family               3219 non-null int64
War                  3219 non-null int64
Music                3219 non-null int64
Sport                3219 non-null int64
Western              3219 non-null int64
Musical              3219 non-null int64
Adult                3219 non-null int64
News                 3219 non-null int64
Talk-Show            3219 non-null int64
Reality-TV           3219 non-null int64
Game-Show            3219 non-null int64
Short                3219 non-null int64
id                   3219 non-null int64
release_date         3219 non-null object
production_budget    3219 non-null float64
domestic_gross       3219 non-null float64
worldwide_gross      3219 non-null float64
dtypes: float64(4), int64(29), object(5)
memory usage: 980.8+ KB

In [17]:
#create list of genres
genre_list = list(combined.loc[:,'Action':'Short'].keys())
#create dict of genres with value = 0
genre_dict = {}
for genre in genre_list:
    genre_dict[genre] = combined[genre].sum()
#convert to df
genre_df = pd.DataFrame.from_dict(genre_dict, orient= 'index')

                0
Action        616
Crime         352
Drama        1584
Biography     226
Comedy        760
Fantasy       174
Horror        336
Thriller      494
Adventure     441
Animation     134
Documentary   410
History        85
Mystery       213
Sci-Fi        199
Romance       335
Family        172
War            48
Music          80
Sport          68
Western        22
Musical        26
Adult           0
News            6
Talk-Show       0
Reality-TV      0
Game-Show       0
Short           0

In [10]:
genre_dict['Action'] = combined['Action'].sum()
# genre_dict['Action'].
genre_dict['Action']

616