In [1]:
import pandas as pd

In [2]:
import import_movie_databases

In [5]:
movies=import_movie_databases.tn_movie_budgets()

In [6]:
movies.head(5)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,425000000.0,760507625.0,2.776345e+09
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09
2,3,"Jun 7, 2019",Dark Phoenix,350000000.0,42762350.0,1.497624e+08
3,4,"May 1, 2015",Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09

In [8]:
movies.loc[(movies['domestic_gross'] == 0) & (movies['worldwide_gross'] > 0)]

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
617,18,"Dec 31, 2012",AstÃ©rix et ObÃ©lix: Au service de Sa MajestÃ©,77600000.0,0.0,60680125.0
619,20,"Jan 22, 2019",Renegades,77500000.0,0.0,1521672.0
820,21,"Oct 26, 2018",Air Strike,65000000.0,0.0,516279.0
1325,26,"Dec 31, 2012",Foodfight!,45000000.0,0.0,73706.0
1367,68,"Dec 31, 2006",Les BronzÃ©s 3: amis pour la vie,42000000.0,0.0,83833602.0
1368,69,"Dec 31, 2015",Pourquoi j'ai pas mangÃ© mon pÃ¨re,42000000.0,0.0,15451663.0
1537,38,"Apr 16, 2013",Un monstre Ã Paris,40000000.0,0.0,27000381.0
1538,39,"Jun 21, 2019",Kursk,40000000.0,0.0,4212799.0
1539,40,"Nov 11, 2016",USS Indianapolis: Men of Courage,40000000.0,0.0,1663785.0
1540,41,"Dec 31, 2014",Dragon Nest Warriors' Dawn,40000000.0,0.0,734423.0
1583,84,"Aug 26, 2008",Virgin Territory,38000000.0,0.0,5473041.0
1603,4,"Dec 31, 2009",Obitaemyy ostrov,36500000.0,0.0,15000000.0
1621,22,"Apr 14, 2017",Queen of the Desert,36000000.0,0.0,1578543.0
1754,55,"Sep 22, 2006",Bandidas,35000000.0,0.0,19282590.0
1755,56,"Mar 13, 2015",The Lovers,35000000.0,0.0,53899.0
2006,7,"Dec 31, 2010",Konferenz der Tiere,30000000.0,0.0,53048539.0
2007,8,"Dec 1, 2015",Grace of Monaco,30000000.0,0.0,25199891.0
2008,9,"Mar 8, 2016",Savva. Serdtse voyna,30000000.0,0.0,5015080.0
2009,10,"Dec 14, 2007",Goodbye Bafana,30000000.0,0.0,2717302.0
2010,11,"Dec 31, 2013",Space Pirate Captain Harlock,30000000.0,0.0,310985.0
2080,81,"Dec 31, 2007",Alatriste,28000000.0,0.0,22860477.0
2153,54,"Jun 30, 2015",Viy,26000000.0,0.0,34246770.0
2154,55,"Mar 17, 2015",Accidental Love,26000000.0,0.0,135436.0
2320,21,"Dec 31, 2010",Sammy's avonturen: De geheime doorgang,25000000.0,0.0,71594792.0
2321,22,"Dec 31, 2010",Belka i Strelka. Zvezdnye sobaki,25000000.0,0.0,9445081.0
2322,23,"Dec 31, 2017",Matilda,25000000.0,0.0,9370285.0
2323,24,"Oct 4, 2011",La vÃ©ritable histoire du Chat BottÃ©,25000000.0,0.0,8208594.0
2324,25,"Jul 8, 2011",Ironclad,25000000.0,0.0,5297411.0
2325,26,"May 10, 2019",The Professor and the Madman,25000000.0,0.0,5227233.0
2326,27,"Mar 10, 2015",Red Sky,25000000.0,0.0,91116.0
...,...,...,...,...,...,...
5109,10,"Apr 17, 2014",Closer to the Moon,1500000.0,0.0,5396.0
5143,44,"May 24, 2011",Forget Me Not,1300000.0,0.0,13465.0
5153,54,"Dec 31, 2016",Bodom,1250000.0,0.0,726460.0
5179,80,"Dec 31, 2008",Extreme Movie,1200000.0,0.0,81338.0
5202,3,"Mar 7, 2017",Departure,1100000.0,0.0,27561.0
5299,100,"Dec 31, 2013",Heli,1000000.0,0.0,552614.0
5300,1,"Dec 31, 2015",Karachi se Lahore,1000000.0,0.0,17721.0
5301,2,"Dec 31, 2006",Loving Annabelle,1000000.0,0.0,5382.0
5302,3,"Dec 11, 2015",American Hero,1000000.0,0.0,26.0
5329,30,"Jan 10, 2014",Banshee Chapter,950000.0,0.0,78122.0
5335,36,"Nov 21, 2014",Food Chains,913000.0,0.0,176.0
5355,56,"Aug 11, 2009",London to Brighton,825000.0,0.0,610776.0
5356,57,"Dec 31, 2009",Crying With Laughter,820000.0,0.0,16909.0
5382,83,"Oct 11, 2013",All the Boys Love Mandy Lane,750000.0,0.0,1960521.0
5383,84,"Dec 31, 2014",Destiny,750000.0,0.0,450.0
5394,95,"Jan 26, 2010",B-Girl,700000.0,0.0,1160.0
5403,4,"Dec 31, 2009",Starsuckers,640000.0,0.0,14812.0
5415,16,"Mar 4, 2016",They Will Have to Kill Us First,600000.0,0.0,7943.0
5422,23,"Dec 31, 2015",Julija in alfa Romeo,560000.0,0.0,8462.0
5467,68,"Dec 31, 2006",Feng kuang de shi tou,500000.0,0.0,3000000.0
5468,69,"Jan 8, 2013",Now is Good,500000.0,0.0,2141436.0
5469,70,"Dec 31, 2006",Griffin & Phoenix,500000.0,0.0,1355967.0
5470,71,"Nov 2, 2001",Everything Put Together,500000.0,0.0,7890.0
5519,20,"Mar 31, 2015",Viskningar och rop,400000.0,0.0,9071.0
5558,59,"Oct 31, 2014",All You Need Is Love,300000.0,0.0,3565259.0
5590,91,"Mar 24, 2015",Along the Roadside,250000.0,0.0,3234.0
5652,53,"Dec 31, 2015",Lumea e a mea,168000.0,0.0,29678.0
5661,62,"Dec 31, 2013",Speak No Evil,150000.0,0.0,32927.0
5705,6,"Dec 31, 2011",Absentia,70000.0,0.0,8555.0
5748,49,"Sep 1, 2015",Exeter,25000.0,0.0,489792.0