In [105]:
'''Cleans and merges imdb.title.basics and tn databases'''

import pandas as pd


def get_imdb():
    '''Retrieves cleaned imdb.title.basics dataframe'''
    df_imdb = pd.read_csv("./data/imdb.title.basics.csv")
    df_imdb = df_imdb.loc[df_imdb['genres']
                                              .isnull() == False]
    df_imdb.genres = df_imdb.genres.map(lambda x:
                                                            str(x).split(","))
    unique_genres = []
    for i in df_imdb.genres:
        for j in i:
            if j in unique_genres:
                continue
            else:
                unique_genres.append(j)
    genre_dict = {}
    for genre in unique_genres:
        genre_dict[genre] = []
    for genre in unique_genres:
        one_hot = []
        for movie in df_imdb.genres:
            if genre in movie:
                one_hot.append(1)
            else:
                one_hot.append(0)
        genre_dict[genre] = one_hot
    for genre in unique_genres:
        df_imdb[genre] = genre_dict[genre]
    new_columns = df_imdb.columns.map(lambda x: x.replace('-','_').lower())
    df_imdb.columns = new_columns
    return df_imdb
    
def tn_movie_budgets(cutoff = 1):
    '''Imports and cleans tn database'''
    df = pd.read_csv('data/tn.movie_budgets.csv')
    #Convert object in format $10,000 to float64
    df.domestic_gross = df.domestic_gross.replace(
        '[\$,]',
        '',
        regex=True
    ).astype(float)
    #Convert object in format $10,000 to float64
    df.worldwide_gross = df.worldwide_gross.replace(
        '[\$,]',
        '',
        regex=True
    ).astype(float)
    #Convert object in format $10,000 to float64
    df.production_budget = df.production_budget.replace(
        '[\$,]',
        '',
        regex=True
    ).astype(float)   
    #Convert object to str
    #df.movie = df.movie.astype('str')
    #Sort by revenue
    df = df.sort_values(
        by = 'worldwide_gross', 
        ascending = False)
    #When there are duplicates keep higher revenue record 
#     df.drop_duplicates(
#         subset= 'movie', 
#         keep = 'first',
#         inplace = True
#     )
    #pending - convert date to date
    #create new df with only movies above the revenue cut-off
    df_cutoff = df[df['worldwide_gross'] > cutoff]    
    #Cutoff captures xx% of total movie revenue
#     share_cutoff = df_cutoff['worldwide_gross'].sum() / df['worldwide_gross'].sum()
#     print( 'cutoff of ', cutoff, " USD captures ", round(share_cutoff,2)*100, "% of total revenue")
    #returns a cleaned and sorted tn_movie_budgets
    df_cutoff.release_date = pd.to_datetime(df_cutoff.release_date)
    df_cutoff['start_year'] = df_cutoff.release_date.dt.year
    return df_cutoff

def movies_combined ():
    '''Merge imdb and tn database'''
    df_cutoff = tn_movie_budgets()
    df_imdb = get_imdb()
    df = 1    
    #Copies to avoid overwriting original df_TN
    df_TN = df_cutoff.copy()    
    #Set 'movie' as index
    df_TN.set_index('movie', inplace=True)    
    # create new df joining df_TN and df_IMDB
    df = pd.merge(df_imdb, df_TN,  how='inner', left_on=['original_title','start_year'], 
                  right_on = ['movie','start_year'])
    df.drop_duplicates(subset = 'primary_title', keep = 'first', inplace = True) 
    df = df.loc[df['start_year'] < 2019]
    df.drop(columns = ['news','adult','talk_show','reality_tv','game_show','short'], inplace = True)
    return df

In [106]:
df = movies_combined()

/home/peter/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
/home/peter/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [107]:
df.primary_title.nunique()

1338

In [108]:
df.columns

Index(['tconst', 'primary_title', 'original_title', 'start_year',
       'runtime_minutes', 'genres', 'action', 'crime', 'drama', 'biography',
       'comedy', 'fantasy', 'horror', 'thriller', 'adventure', 'animation',
       'documentary', 'history', 'mystery', 'sci_fi', 'romance', 'family',
       'war', 'music', 'sport', 'western', 'musical', 'id', 'release_date',
       'production_budget', 'domestic_gross', 'worldwide_gross'],
      dtype='object')

In [72]:
df = df.sort_values(by = 'runtime_minutes', ascending = False)

In [95]:
df.loc[df['primary_title'] == 'The Wall']

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,Action,Crime,Drama,Biography,...,News,Talk-Show,Reality-TV,Game-Show,Short,id,release_date,production_budget,domestic_gross,worldwide_gross
1224,tt4218696,The Wall,The Wall,2017,88.0,"[Action, Drama, Thriller]",1,0,1,0,...,0,0,0,0,0,29,2017-05-12,3000000.0,1803064.0,4495262.0

In [79]:
df_drop = df.drop_duplicates(subset = 'primary_title', keep = 'first')

In [80]:
len(df_drop)

1371

In [81]:
len(df)

1412

In [97]:
df_drop.primary_title.value_counts()

Early Man                                   1
Lincoln                                     1
That's My Boy                               1
My Big Fat Greek Wedding 2                  1
Deadpool 2                                  1
The Heat                                    1
Lights Out                                  1
The Bourne Legacy                           1
Proud Mary                                  1
The Giant Mechanical Man                    1
X-Men: Apocalypse                           1
The Second Mother                           1
Philomena                                   1
Dead Man Down                               1
Meet the Mormons                            1
Just Wright                                 1
Indivisible                                 1
A Tale of Three Cities                      1
Concussion                                  1
Dunkirk                                     1
Buried                                      1
Blade Runner 2049                           1
True Grit                                   1
The Shallows                                1
Bad Times at the El Royale                  1
The Intruder                                1
The Last Song                               1
Baywatch                                    1
Priest                                      1
A Very Harold & Kumar 3D Christmas          1
                                           ..
Game Night                                  1
Love the Coopers                            1
The Odd Life of Timothy Green               1
You Will Meet a Tall Dark Stranger          1
Cop Out                                     1
The Star                                    1
Drinking Buddies                            1
The Wedding Ringer                          1
The Expendables                             1
Magic Mike XXL                              1
The Drop                                    1
Fifty Shades Freed                          1
Incendies                                   1
Why Did I Get Married Too?                  1
Paranormal Activity 4                       1
The Counselor                               1
Stronger                                    1
Hell Fest                                   1
Girls Trip                                  1
Poltergeist                                 1
Parker                                      1
Grace Unplugged                             1
The Second Best Exotic Marigold Hotel       1
Book Club                                   1
A Simple Favor                              1
Hacksaw Ridge                               1
Furry Vengeance                             1
The Forest                                  1
Plush                                       1
The SpongeBob Movie: Sponge Out of Water    1
Name: primary_title, Length: 1371, dtype: int64