In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [11]:
imdb_title_akas = pd.read_csv("./data/imdb.title.akas.csv")

In [12]:
imdb_title_basics = pd.read_csv("./data/imdb.title.basics.csv")

In [13]:
imdb_title_crew = pd.read_csv("./data/imdb.title.crew.csv")

In [14]:
imdb_title_principals = pd.read_csv("./data/imdb.title.principals.csv")

In [15]:
imdb_title_rating = pd.read_csv("./data/imdb.title.ratings.csv")

In [29]:
imdb_title_basics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [40]:
def genre_to_list(genre):
    """converts genres in imdb_title_basics to list"""
    genre.split(','))
    return genre_list

In [46]:
imdb_title_basics.genres.dtypes

dtype('O')

In [48]:
imdb_title_basics.genres.map(lambda x : x.split(','))

AttributeError: 'float' object has no attribute 'split'

In [36]:
imdb_title_basics.genres[0]

'Action,Crime,Drama'